body{
    background-color: rgb(207, 163, 249);
}
#login{
width: 400px;
background-color: aliceblue;
padding: 24px;
margin-left: auto;
margin-right: auto;
border-style:solid;
margin-top: 10%;
border-radius: 5%;
}
.input-label{
    margin:0;
    margin-top: 10px;
    margin-bottom: 4px;
}
input{
    font-size: 15px;
    line-height: 20px;
    padding: 4px 10px;
    min-height: 33px;
    border: unset;
    border-radius: 1px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    width:100%;
    margin-right:1%;
}
h3{
    size:10;
}
.input-item{
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    padding: 4px 10px;
    min-height: 33px;
    border: unset;
    border-radius: 1px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    width:100%;
    margin-right: 20%;
}
h1{
    text-align: center;
}
.right{
    float:right;
    block-size:40px;
    background-color: brown;
    color: white;
}